{# Page d'erreur de l'application GSB #}

{% extends '@ALgsb/base.html.twig' %}

{% block title %}
    Erreur
{% endblock %}

{% block content %}
    <h1>Une erreur est survenu</h1>
    
    <h2>{{ libelleErreur }}</h2>
{% endblock %}