{# Page de connexion #}

{% extends "@ALgsb/base.html.twig" %}

{% block title %}
    GSB - Application Frais
{% endblock %}

{% block content %}
    <div id="formulaire">
        <fieldset>
            <legend>Connexion</legend>
            {{ form(form) }}
        </fieldset>
    </div>
{% endblock %}