{# Sommaire du visiteur #}

<fieldset>
    <legend>Comptable</legend>
    <label>{{ prenom ~ ' ' ~ nom }}</label>
    <a href="">Saisie fiche de frais</a>
    <a href="">Mes fiches de frais</a>
    <a href="">Deconnexion</a>
</fieldset>