{# Sommaire du visiteur #}

<fieldset>
    <legend>Comptable</legend>
    <label>{{ prenom ~ ' ' ~ nom }}</label>
    <a href="{{ path('saisir_visiteur', {'id':id}) }}">Saisie fiche de frais</a>
    <a href="{{ path('selectionnerFiche_visiteur', {'id':id}) }}">Mes fiches de frais</a>
    <a href="{{ path('page_deconnexion') }}">Deconnexion</a>
</fieldset>