/* 
    Created on : 1 mai 2018, 14:01:05
    Author     : laze
*/


/*
    Style pour les formulaires
*/

label, a {
    display:block;
    width:300px;
}

fieldset {
   display:block;
   position:absolute;
   text-align:center;
}

table, th, td {
    width: 100%;
    border: 1px solid black;
    border-collapse: collapse;
}

td, th {
        padding: 5px;    
}

#content {
    margin-left: 35%;
}