{# page d'accueil comptable #}

{% extends "@ALgsb/base.html.twig" %}

{% block title %}
    Accueil - Comptable
{% endblock %}

{% block header %}
    {% include('@ALgsb/Comptable/sommaire_comptable.html.twig') %}
{% endblock %}

{% block content %}
    <h2>Bienvenue {{prenom ~ ' ' ~ nom}}</h2>
{% endblock %}