{# sommaire du comptable #}
<div id='sommaire'>
<fieldset>
    <legend>Comptable</legend>
    <label>{{ prenom ~ ' ' ~ nom }}</label>
    <a href="">Valider fiche de frais</a>
    <a href="{{ path('page_deconnexion') }}">Deconnexion</a>
</fieldset>
</div>